/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* ------------------------------- */
  /* Answer button custom properties */
  /* ------------------------------- */

  /* The values affecting the answBtn size */
  --answBtn-width: 100%;
  --answBtn-padding: 1.2em;
  --answBtn-fnt-size: clamp(0.95rem, 2vh, 1.2rem);

  /* Hue values for answBtn colors */
  --default-answBtn-hue: 46; /* yellow hue value (hsl) */
  --correct-answBtn-hue: 146; /* green hue value (hsl) */
  --incorrect-answBtn-hue: 336; /* red hue value (hsl) */
  /* Saturation values for answBtn colors */
  --default-answBtn-sat: 70%; /* saturation (hsl) */
  --disabled-answBtn-sat: 5%; /* saturation (hsl) */
  /* Lightness values for answBtn colors */
  --default-answBtn-light: 50%; /* lightness (hsl) */

  /* The varibles used to alter the hsl color mix of 
  text, graadients and shadows in the AnswBtn utility classes */
  --hue: var(--default-answBtn-hue); /* default hue */
  --sat: var(--default-answBtn-sat); /* default sat */
  --light: var(--default-answBtn-light); /* default lightness */
}

/* -------------------------- */
/* AnswBtn utility classes    */
/* -------------------------- */

/* 1 of 2: AnswBtn default (up/unselected) state */

/* prettier-ignore */
.answBtn {
  width: var(--answBtn-width);
  padding-block: var(--answBtn-padding);
  border: 0;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: var(--answBtn-fnt-size);
  color: hsl(var(--hue) var(--sat) 10% / 0.6);
  
  /* Gradient background fill */
  background: linear-gradient(204deg,
    hsl(var(--hue)var(--sat) var(--light)) 0%,
    hsl(calc(var(--hue) + 6) var(--sat) calc(var(--light) - 10%)) 75%);
 
    /* Drop shadow and button's embossed appearance */
  box-shadow: 0em 0.5em 0.5em
      hsl(var(--hue) var(--sat) 5% / 0.3),
    inset -0.2em -0.5em 1.2em
      hsl(var(--hue) var(--sat) calc(var(--light) - 10%)),
    inset -0.2em 0.8em 1.2em 
      hsl(calc(var(--hue) + 6) var(--sat) var(--light));
}

/* 2 of 2: Answer button down (selected/pressed) state */

/* prettier-ignore */
.answbtn--down {
  /* Text color is modified slightly */
  color: hsl(calc(var(--hue) - 10) var(--sat) 16% / 0.6);
  
  /* Gradient background fill */
  background: linear-gradient(180deg,
    hsl(calc(var(--hue) - 4) var(--sat) 40%) 0%,
    hsl(calc(var(--hue) - 10) var(--sat) 50%) 100%);

  /* Drop shadow and button's debossed appearance */
  box-shadow: 0em 0.1em 0.35em 
      hsl(var(--hue) var(--sat) 8% / 0.7),
    inset 0.2em 0.8em 0.5em
      hsl(calc(var(--hue) - 4) var(--sat), calc(var(--light) - 10%) / 0.8),
    inset -0.2em -0.2em 0.5em
      hsl(calc(var(--hue) - 10) var(--sat) var(--light) / -0.9);
}

/* Hue is modfied to show the correct answer colour */
.answBtn:hover,
answBtn:focus {
  --sat: calc(
    var(--default-answBtn-sat) + 10%
  ); /* adding more saturation to the color mix */
  --light: calc(
    var(--default-answBtn-light) + 2%
  ); /* adding more lightness to the colormix */
}

/* Saturation is modified to show buttons are disabled  */
.answBtn--disabled,
.answBtn--disabled:hover {
  --sat: var(--disabled-answBtn-sat);
}

/* Hue is modfied to show the incorrect answer colour */
.answBtn--incorrect {
  --hue: var(--incorrect-answBtn-hue);
}

/* Hue is modfied to show the correct answer colour */
.answBtn--correct {
  --hue: var(--correct-answBtn-hue);
}

/* ------------------------- */
/* Color utility classes     */
/* ------------------------- */

/* Dark theme */
.dark {
  background: linear-gradient(30deg, hsl(200 4% 14%) 20%, hsl(210 3% 26%) 90%);
  background-repeat: no-repeat;
}

/* Light theme */
.light {
  background-color: hsl(0 0% 60% / 1);
  color: hsl(0 0% 8% / 1);
}

/* --------------- */
/* Reset / set up  */
/* --------------- */

* {
  /* Reset */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Font properites are inheritted into all elements */
  font: inherit;
  /* Disable zooming from double tapping on mobile devices*/
  touch-action: manipulation;
  /* Disable user from selecting text and elements in app */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* App set up */
html {
  height: -webkit-fill-available;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

.app {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
