:root {
  /* ------------------- */
  /* Custom properties   */
  /* ------------------- */

  /* font sizes */
  --fs-title: 1rem;
  --fs-large: 2rem;
  --fs-small: 1.2rem;
  --fs-question: 1.4rem;
  --fs-answBtn: clamp(0.9rem, 1.8vh, 1.2rem);
  --fs-nxtBtn: clamp(0.95rem, 2vh, 1.2rem);

  /* font families */
  --ff-sans: 'Ubuntu', sans-serif;
  --ff-sans-cond: 'Ubuntu Condensed', sans-serif;
  --ff-sans-mono: 'Ubuntu Mono', monospace;

  /* colors */
  --light-gray: 0 0% 90%; /* hsl */
  --dark-gray: 180 35% 10%; /* hsl */

  /* border-radius */

  --border-radius: 1.5rem 1.5rem;

  /* ------------------------------- */
  /* Answer button custom properties */
  /* ------------------------------- */

  /* The values affecting the answBtn size */
  --answBtn-width: 100%;
  --answBtn-padding: 1.2em;

  /* Hue values for answBtn colors */
  --default-answBtn-hue: 46; /* yellow hue value (hsl) */
  --correct-answBtn-hue: 146; /* green hue value (hsl) */
  --incorrect-answBtn-hue: 336; /* red hue value (hsl) */
  /* Saturation values for answBtn colors */
  --default-answBtn-sat: 70%; /* saturation (hsl) */
  --disabled-answBtn-sat: 5%; /* saturation (hsl) */
  /* Lightness values for answBtn colors */
  --default-answBtn-light: 50%; /* lightness (hsl) */

  /* The varibles used to alter the hsl color mix of 
  text, graadients and shadows in the AnswBtn utility classes */
  --hue: var(--default-answBtn-hue); /* default hue */
  --sat: var(--default-answBtn-sat); /* default sat */
  --light: var(--default-answBtn-light); /* default lightness */
}

/* -------------------------- */
/* AnswBtn utility classes    */
/* -------------------------- */

/* 1 of 2: AnswBtn default (up/unselected) state */

/* prettier-ignore */
.answBtn {
  width: var(--answBtn-width);
  padding-block: var(--answBtn-padding);
  border: 0;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: var(--fs-answBtn);
  color: hsl(var(--hue) var(--sat) 10% / 0.6);
  
  /* Gradient background fill */
  background: linear-gradient(204deg,
    hsl(var(--hue)var(--sat) var(--light)) 0%,
    hsl(calc(var(--hue) + 6) var(--sat) calc(var(--light) - 10%)) 75%);
 
    /* Drop shadow and button's embossed appearance */
  box-shadow: 0em 0.5em 0.5em
      hsl(var(--hue) var(--sat) 5% / 0.3),
    inset -0.2em -0.5em 1.2em
      hsl(var(--hue) var(--sat) calc(var(--light) - 10%)),
    inset -0.2em 0.8em 1.2em 
      hsl(calc(var(--hue) + 6) var(--sat) var(--light));
}

/* 2 of 2: Answer button down (selected/pressed) state */

/* prettier-ignore */
.answbtn--down {
  /* Text color is modified slightly */
  color: hsl(calc(var(--hue) - 10) var(--sat) 16% / 0.6);
  
  /* Gradient background fill */
  background: linear-gradient(180deg,
    hsl(calc(var(--hue) - 4) var(--sat) 40%) 0%,
    hsl(calc(var(--hue) - 10) var(--sat) 50%) 100%);

  /* Drop shadow and button's debossed appearance */
  box-shadow: 0em 0.1em 0.35em 
      hsl(var(--hue) var(--sat) 8% / 0.7),
    inset 0.2em 0.8em 0.5em
      hsl(calc(var(--hue) - 4) var(--sat), calc(var(--light) - 10%) / 0.8),
    inset -0.2em -0.2em 0.5em
      hsl(calc(var(--hue) - 10) var(--sat) var(--light) / -0.9);
}

/* Hue is modfied to show the correct answer colour */
.answBtn:hover,
answBtn:focus {
  --sat: calc(
    var(--default-answBtn-sat) + 10%
  ); /* adding more saturation to the color mix */
  --light: calc(
    var(--default-answBtn-light) + 2%
  ); /* adding more lightness to the colormix */
}

/* Saturation is modified to show buttons are disabled  */
.answBtn--disabled,
.answBtn--disabled:hover {
  --sat: var(--disabled-answBtn-sat);
}

/* Hue is modfied to show the incorrect answer colour */
.answBtn--incorrect {
  --hue: var(--incorrect-answBtn-hue);
}

/* Hue is modfied to show the correct answer colour */
.answBtn--correct {
  --hue: var(--correct-answBtn-hue);
}

/* ------------------------- */
/* Color utility classes     */
/* ------------------------- */

/* Dark theme */
.dark {
  /* background: linear-gradient(30deg, hsl(200 4% 14%) 20%, hsl(210 3% 26%) 90%);
  background-repeat: no-repeat; */
}

/* Light theme */
.light {
  background-color: hsl(0 0% 60% / 1);
  color: hsl(0 0% 8% / 1);
}

/* --------------------------- */
/* Typography utility classes  */
/* --------------------------- */

/* Type for the each quiz question */
.sans-question {
  font-family: var(--ff-sans);
  font-size: var(--fs-question);
  color: hsl(var(--light-gray) / 0.7);
  /* padding-top: 1rem; */
  margin-inline: 0.5rem;
  text-align: center;
}

/* Type used in the stat titles (header))  */
.sans-cond {
  color: hsl(var(--light-gray) / 0.7);
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-title);
  font-weight: 400;
}

/* Type used for stat values (header)) */
.sans-fat {
  color: hsl(var(--light-gray) / 0.8);
  font-family: var(--ff-sans);
  font-size: var(--fs-large);
  font-weight: 700;
}

/* Type used to style total num of Questions s (header))  */
.sans-small-fat {
  font-family: var(--ff-sans);
  font-size: var(--fs-small);
  font-weight: 700;
}

/* --------------- */
/* Reset */
/* --------------- */

* {
  /* Reset */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Font properites are inheritted into all elements */
  font: inherit;
  /* Disable zooming from double tapping on mobile devices*/
  touch-action: manipulation;
  /* Disable user from selecting text and elements in app */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* App set up */
html {
  height: -webkit-fill-available;
  /* min-height: 100vh; */
  /* min-height: -webkit-fill-available; */
  background-color: #222;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  background-repeat: no-repeat;
  font-family: var(--ff-sans);
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

.app {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  background-color: hsl(var(--dark-gray) / 0.4);
  border-radius: 0 0 var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.score li,
.no-of-questions li {
  list-style: none;
  text-align: center;
}

main {
  height: -webkit-fill-available;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.quizItem-div {
  padding-block: 1rem; /* !! */
  padding-inline: 1rem; /* !! */
  background-color: hsl(var(--dark-gray) / 0.4);
  border-radius: var(--border-radius) 0 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.answBtns-div {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.8rem;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: hsl(200 4% 14% / 0.5);
}

.nxtBtn {
  visibility: show;
  width: var(--answBtn-width);
  padding-block: var(--answBtn-padding);
  background: #000000;
  color: hsl(0 0% 60% / 1);
  border: none;
}
